In [ ]:
#KNN and svm on email spam data

In [2]:
#Importing necessary libraries
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.preprocessing import StandardScaler

R:\Anaconda\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
df = pd.read_csv(r"C:\\Users\\rhuta\\Desktop\\emails.csv")
df

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#Data preprocessing
df.dropna(inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [6]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [7]:
#Dropping the Email No column as it is not required for prediction
df.drop(['Email No.'], axis = 1, inplace = True)

In [8]:
df

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,2,2,2,3,0,0,32,0,0,5,...,0,0,0,0,0,0,0,0,0,0
5168,35,27,11,2,6,5,151,4,3,23,...,0,0,0,0,0,0,0,1,0,0
5169,0,0,1,1,0,0,11,0,0,1,...,0,0,0,0,0,0,0,0,0,1
5170,2,7,1,0,2,1,28,2,0,8,...,0,0,0,0,0,0,0,1,0,1
5171,22,24,5,1,6,5,148,8,2,23,...,0,0,0,0,0,0,0,0,0,0

In [9]:
#Splitting the dataset into feature and target variable set

In [10]:
x = df.drop(['Prediction'], axis = 1)
y = df['Prediction']

In [11]:
#Sampling and splitting the dataset into training and testing set
x_train, x_test, y_train, y_test = train_test_split(x , y, test_size = 0.25)

In [12]:
#Feature scaling mean = 0 and sd = 1
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [13]:
#KNN classifier
k_values = range(1,31)
accuracies = []
for k in k_values:
    knn = KNeighborsClassifier(n_neighbors = k)
    knn.fit(x_train,y_train)
    y_pred = knn.predict(x_test)
    accuracies.append(accuracy_score(y_test, y_pred))

print(accuracies)

[0.88553750966744, 0.877030162412993, 0.8546017014694509, 0.8584686774941995, 0.831399845320959, 0.8352668213457076, 0.8120649651972158, 0.8159319412219644, 0.7865429234338747, 0.794276875483372, 0.7648878576952823, 0.7703016241299304, 0.7540603248259861, 0.7548337200309359, 0.7424593967517401, 0.745552977571539, 0.7269914926527455, 0.7254447022428461, 0.711523588553751, 0.7130703789636504, 0.7037896365042536, 0.7045630317092034, 0.6898685228151585, 0.6883217324052591, 0.6782675947409126, 0.6774941995359629, 0.674400618716164, 0.6767208043310131, 0.6674400618716164, 0.6682134570765661]

In [14]:
#From above accuracies list we can select optimal value of k as k = 5

In [15]:
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)

In [16]:
#Evaluating the model's performance

In [17]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [18]:
accuracy = accuracy_score(y_test,y_pred)
accuracy

0.831399845320959

In [20]:
precision = precision_score(y_test,y_pred)
precision

0.6512915129151291

In [21]:
recall = recall_score(y_test,y_pred)
recall

0.9240837696335078

In [23]:
f_1_score = f1_score(y_test,y_pred)
f_1_score

0.764069264069264

In [24]:
#Evaluating model's performance using regression parameters

In [25]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [26]:
r2_score(y_test,y_pred)

0.1900218964258824

In [27]:
mse = mean_squared_error(y_test,y_pred)
mse

0.168600154679041

In [28]:
mean_absolute_error(y_test,y_pred)

0.168600154679041

In [29]:
rmse = np.sqrt(mse)
rmse

0.4106094917059772

In [31]:
#SVM Classifier
#Cost = 1. It is a regularization parameter used to control the tradeoff between maximizing margin and minimising
#misclassifications. The goal of SVM is to maximize the margin i.e distance between decision boundary/hyperplane and 
#closest data points on either side(support vectors). Lower C value indicates wider margin but allows some misclassifications
#can lead to underfitting as model is too simplistic and unable to propely fit the training data.
#Higher c value penalizes model for misclassfication even if it means to reduce the margin length leading to poor performance
#of model on  new/unseen data leading to overfitting.
from sklearn.svm import SVC
model = SVC(C=1)
#Fit
model.fit(x_train,y_train)
#Predict
prediction = model.predict(x_test)
prediction

array([1, 0, 1, ..., 0, 0, 0], dtype=int64)

In [32]:
#Evaluating performance of svm

In [33]:
accuracy = accuracy_score(y_test,prediction)
accuracy

0.9273008507347255

In [34]:
precision = precision_score(y_test,prediction)
precision

0.9768211920529801

In [35]:
recall = recall_score(y_test,prediction)
recall

0.7722513089005235

In [36]:
f_1_score = f1_score(y_test,prediction)
f_1_score

0.8625730994152048

In [37]:
r2_score(y_test,prediction)

0.6507433865322612

In [38]:
mse = mean_squared_error(y_test,prediction)
mse

0.07269914926527456

In [39]:
mae = mean_absolute_error(y_test,prediction)
mae

0.07269914926527456

In [40]:
rmse = np.sqrt(mse)
rmse

0.26962779764941625